<%provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	The Contacts application is a project that I'm building as I learn Ruby on Rails with the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> online instruction.
</p>