<div class ="center hero-unit">
	<h1> Welcome to Contacts</h1>
	<h2>
		This is the home page for the Contacts application.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("address_book.jpg", alt: "Address Book"), 'http://rubyonrails.org/' %>